@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

html, body {
    margin:0;
    padding:0;
}

.wrapper {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0 min(8%, 10%);
}

.mono {
    font-family: 'Montserrat', sans-serif;
}
