@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

html,
body {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 min(8%, 10%);
}

.mono {
  font-family: "Montserrat", sans-serif;
}

#tools-container img:hover, #tools-container i:hover {
  transform:scale(1.4);
}

#platforms-container > a:hover {
  transform:scale(1.4);
}

#project-container > div:hover {
  transform:scale(1.2);
}

.custom-card {
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
}

.custom-card img {
  height: 100%;
  z-index: 10;
}

.custom-card-body {
  z-index: 30;
  position: absolute;
  padding-bottom: 1rem;
  bottom: 0;
  border-radius: 1rem;
  background-color: rgba(250, 247, 245, 0.75);
}

.custom-card-text {
  opacity: 0;
  margin-bottom: -150px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  padding-top: 1rem;
}

.custom-card-text button {
  margin-top: 2rem;
  margin-left: auto;
  opacity: 0;
}

.custom-card:hover .custom-card-body {
  padding-block: 3rem;
  background-color: rgba(41, 19, 52, 0.8);
  color: hsl(var(--nc));
}

.custom-card:hover .custom-card-text {
  margin-bottom: 0px;
  opacity: 1;
}

.custom-card:hover .btn {
  opacity: 1;
}