@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;800&display=swap");

html,
body {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  max-width: 1536px;
  width: 100%;
  margin: 0 auto;
  padding: 0 min(8%, 10%);
}

.mono {
  font-family: "Montserrat", sans-serif;
}

.app-content {
  border-top: 2px solid hsl(var(--pc));
}

#tools-container img:hover,
#tools-container i:hover {
  transform: scale(1.4);
}

#platforms-container > a:hover {
  transform: scale(1.4);
}

#project-container > div:hover {
  transform: scale(1.2);
}

img.custom-shadow {
  filter: drop-shadow(1px 1px 2px rgb(245, 245, 245));
}

.custom-card {
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
}

.custom-card:hover,
.custom-card *:hover {
  cursor: pointer;
}

#drawing-app-img,
#tic-tac-toe-img,
#slomo-hk-img,
#rec-six-img {
  height: auto;
  width: 100%;
  z-index: 10;
  position: absolute;
  top: 0px;
  left: 0px;
}

#tic-tac-toe-img {
  object-fit: cover;
}

.custom-card-body {
  width: 100%;
  height: auto;
  z-index: 30;
  position: absolute;
  bottom: 0;
  border-radius: 0.5rem;
  background-color: rgba(250, 247, 245, 1);
  box-shadow: 0px 2px 10px rgb(117, 117, 117);
}

.custom-card-text {
  opacity: 0;
  margin-bottom: -10rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}

.custom-card-text a {
  margin-left: auto;
  opacity: 0;
}

.custom-card:hover .custom-card-body {
  padding-block: 1.1rem;
  background-color: rgba(41, 19, 52, 0.8);
  color: hsl(var(--nc));
}

.custom-card:hover .custom-card-text {
  margin-bottom: 0px;
  opacity: 1;
}

.custom-card:hover a {
  opacity: 1;
}

@media (min-width: 640px) {
  .custom-card-text {
    margin-bottom: -14.5rem;
  }

  .custom-card:hover .custom-card-body {
    padding-block: 3rem;
  }
}

@media (min-width: 768px) {
  .custom-card-text {
    margin-bottom: -15rem;
  }

  .custom-card:hover .custom-card-body {
    padding-block: 4rem;
  }
}

@media (min-width: 1024px) {
  .custom-card-text {
    margin-bottom: -14rem;
  }

  .custom-card:hover .custom-card-body {
    padding-block: 2.5rem;
  }
}

@media (min-width: 1536px) {
  .custom-card-text {
    margin-bottom: -14.5rem;
  }

  .custom-card:hover .custom-card-body {
    padding-block: 3rem;
  }
}
