@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;800&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  /* padding: 0 min(8%, 10%); */
  padding-inline: 3rem;
}

.mono {
  font-family: "Montserrat", sans-serif;
}

.app-content {
  border-top: 2px solid hsl(var(--pc));
}

.avatar > div:hover {
  transform: scale(1.2);
}

.tools-container img:hover,
.tools-container i:hover {
  transform: scale(1.4);
}

#platforms-container > a:hover {
  transform: scale(1.4);
}

#project-container > div:hover {
  transform: scale(1.2);
}

img.custom-shadow {
  filter: drop-shadow(1px 1px 2px rgb(245, 245, 245));
}

.custom-card {
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
}

.custom-card:hover,
.custom-card *:hover {
  cursor: pointer;
}

#drawing-app-img,
#tic-tac-toe-img,
#slomo-hk-img,
#rec-six-img {
  height: auto;
  width: 100%;
  z-index: 10;
  position: absolute;
  top: 0px;
  left: 0px;
}

#tic-tac-toe-img {
  object-fit: cover;
}

.custom-card-body {
  width: 100%;
  height: auto;
  z-index: 30;
  position: absolute;
  bottom: 0;
  border-radius: 0.5rem;
  background-color: rgba(250, 247, 245, 1);
  box-shadow: 0px 2px 10px rgb(117, 117, 117);
}

.custom-card-text {
  opacity: 0;
  margin-bottom: -10rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}

.custom-card-text a {
  margin-left: auto;
  opacity: 0;
}

.custom-card:hover .custom-card-body {
  padding-block: 1.1rem;
  background-color: rgba(41, 19, 52, 0.8);
  color: hsl(var(--nc));
}

.custom-card:hover .custom-card-text {
  margin-bottom: 0px;
  opacity: 1;
}

.custom-card:hover a {
  opacity: 1;
}

@media (min-width: 640px) {
  .custom-card-text {
    margin-bottom: -14.5rem;
  }

  .custom-card:hover .custom-card-body {
    padding-block: 3rem;
  }
}

@media (min-width: 768px) {
  .custom-card-text {
    margin-bottom: -15rem;
  }

  .custom-card:hover .custom-card-body {
    padding-block: 4rem;
  }
}

@media (min-width: 1024px) {
  .custom-card-text {
    margin-bottom: -14rem;
  }

  .custom-card:hover .custom-card-body {
    padding-block: 2.5rem;
  }
}

@media (min-width: 1536px) {
  .custom-card-text {
    margin-bottom: -14.5rem;
  }

  .custom-card:hover .custom-card-body {
    padding-block: 3rem;
  }
}

/** Progressive infinite horizontal scrolling animation - start */
.scroller-inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.scroller[data-animated="true"] {
  -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller-inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s) var(--_animation-direction, forwards) linear
    infinite;
}

.scroller[data-animated="true"]:hover .scroller-inner,
.scroller[data-animated="true"] .scroller-inner:hover {
  animation-play-state: paused;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
  --_animation-duration: 20s;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 60s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}
/** Progressive infinite horizontal scrolling animation - end */

/** Typewriter effect - start */
span.insertion-point {
  border-right: 0.05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}
/** Typewriter effect - end */
